SyncSendungs-Stand←Content_20260122114919.json
{"name":"7c4e27d3-0005-4675-9bd6-4483acd862e3","id":"/providers/Microsoft.Flow/flows/7c4e27d3-0005-4675-9bd6-4483acd862e3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync Sendungs-Stand ← Content","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-27T16:15:49.7417308Z","connectionKeySavedTimeKey":"2025-12-09T13:20:01.7766869Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"c73487ef-9158-4980-95e0-c9954afb771b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Variable_initialisieren":{"runAfter":{},"metadata":{"operationMetadataId":"479aa36c-2f48-4ebe-9b4b-33fdcee84318"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSendungID","type":"integer","value":"@triggerOutputs()?['body/Folge_x003a__x0020_Nr_x002e_ID#Id']"}]}},"Variable_initialisieren_1":{"runAfter":{"Variable_initialisieren":["Succeeded"]},"metadata":{"operationMetadataId":"cde18936-aa30-411e-8dde-559787f22cc7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAggregatedStatus","type":"string","value":"Fertig"}]}},"Elemente_abrufen":{"runAfter":{"Variable_initialisieren_1":["Succeeded"]},"metadata":{"operationMetadataId":"e9ecf2ba-6c47-410d-a43c-db5eaee9311f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","$filter":"Folge_x003a__x0020_Nr_x002e_IDId eq @{variables('varSendungID')}\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Auf_alle_anwenden":{"foreach":"@outputs('Elemente_abrufen')?['body/value']","actions":{"Bedingung":{"actions":{"Variable_festlegen":{"runAfter":{"Bedingung_1":["Succeeded"]},"metadata":{"operationMetadataId":"52cae235-b037-4595-bec0-c195c5788d6a"},"type":"SetVariable","inputs":{"name":"varAggregatedStatus","value":"In Bearbeitung"}},"Bedingung_1":{"actions":{},"runAfter":{},"expression":{"and":[{"equals":["@and(\r\n    equals(item()?['Bearbeitungsstautus']?['Value'], 'Abnahmebereit'),\r\n    not(equals(variables('varAggregatedStatus'), 'In Bearbeitung'))\r\n)",true]}]},"metadata":{"operationMetadataId":"3acf9026-501c-4a24-8b35-cb14bb5ebeac"},"type":"If"}},"runAfter":{},"expression":{"and":[{"equals":["@or(\n    equals(item()?['Bearbeitungsstautus'], 'Entwurf'),\n    equals(item()?['Bearbeitungsstautus'], 'In Bearbeitung')\n)\n",""]}]},"metadata":{"operationMetadataId":"06d950f0-41b9-46a8-93e5-ef8be920665c"},"type":"If"}},"runAfter":{"Elemente_abrufen":["Succeeded"]},"metadata":{"operationMetadataId":"de821bd4-2878-428f-9dbd-942efc195647"},"type":"Foreach"},"Element_abrufen":{"runAfter":{"Auf_alle_anwenden":["Succeeded"]},"metadata":{"operationMetadataId":"ea8cef7a-c254-4e2b-a1f8-324b56b711da"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@variables('varSendungID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Bedingung_2":{"actions":{"Element_aktualisieren":{"runAfter":{},"metadata":{"operationMetadataId":"34bba9e7-549a-4d02-b09a-57193b2df14e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@variables('varSendungID')","item/field_2":"@outputs('Element_abrufen')?['body/field_2']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Element_abrufen":["Succeeded"]},"expression":{"and":[{"equals":["@not(\n    equals(\n        body('Element_abrufen')?['field_20'],\n        variables('varAggregatedStatus')\n    )\n)\n",""]}]},"metadata":{"operationMetadataId":"7469973a-71cd-495b-9ca3-e5739527bdfb"},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}