Flows/ImportPackage/Flow2-SendungPushesToContent/Microsoft.Flow/flows/sync-plattform-sendung-push/definition.json
{"name":"sync-plattform-sendung-push","id":"/providers/Microsoft.Flow/flows/sync-plattform-sendung-push","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync Plattform-Freigaben (Sendung → Content)","definition":{"metadata":{"creator":{"id":"","type":"User","tenantId":""},"provisioningMethod":"FromDefinition","failureAlertSubscription":true},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"varPlattformFreigaben":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlattformFreigaben","type":"array","value":"@triggerOutputs()?['body/field_18']"}]}},"Bedingung_-_Hat_Plattform_Freigaben":{"runAfter":{"varPlattformFreigaben":["Succeeded"]},"type":"If","expression":{"not":{"equals":["@variables('varPlattformFreigaben')","@null"]}},"actions":{"Elemente_abrufen_-_Verknüpfte_Contents":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","$filter":"Folge/Id eq @{triggerOutputs()?['body/ID']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Auf_alle_anwenden":{"foreach":"@outputs('Elemente_abrufen_-_Verknüpfte_Contents')?['body/value']","runAfter":{"Elemente_abrufen_-_Verknüpfte_Contents":["Succeeded"]},"type":"Foreach","actions":{"Element_aktualisieren":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","id":"@items('Auf_alle_anwenden')?['ID']","item/PlattformFreigaben":"@variables('varPlattformFreigaben')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runtimeConfiguration":{"concurrency":{"repetitions":5}}}},"else":{"actions":{}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"}},"flowFailureAlertSubscribed":false,"isManaged":false}}
