Flows/ImportPackage/Flow1-ContentPullsFromSendung/Microsoft.Flow/flows/sync-plattform-content-pull/definition.json
{"name":"sync-plattform-content-pull","id":"/providers/Microsoft.Flow/flows/sync-plattform-content-pull","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync Plattform-Freigaben (Content ← Sendung)","definition":{"metadata":{"creator":{"id":"","type":"User","tenantId":""},"provisioningMethod":"FromDefinition","failureAlertSubscription":true},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Bedingung_-_Hat_Folge_Verknüpfung":{"runAfter":{},"type":"If","expression":{"not":{"equals":["@triggerOutputs()?['body/Folge/Id']","@null"]}},"actions":{"Element_abrufen_-_Sendung":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@triggerOutputs()?['body/Folge/Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Bedingung_-_Sendung_hat_Plattform_Freigaben":{"runAfter":{"Element_abrufen_-_Sendung":["Succeeded"]},"type":"If","expression":{"not":{"equals":["@outputs('Element_abrufen_-_Sendung')?['body/field_18']","@null"]}},"actions":{"Element_aktualisieren_-_Content_PlattformFreigaben":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","id":"@triggerOutputs()?['body/ID']","item/PlattformFreigaben":"@outputs('Element_abrufen_-_Sendung')?['body/field_18']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}}}},"else":{"actions":{}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"}},"flowFailureAlertSubscribed":false,"isManaged":false}}
