Flows/ImportPackage/Microsoft.Flow/flows/flow-content-pulls-from-sendung/definition.json
{
  "name": "flow-content-pulls-from-sendung",
  "id": "/providers/Microsoft.Flow/flows/flow-content-pulls-from-sendung",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Sync Plattform-Freigaben (Content ← Sendung)",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Wenn_Content_erstellt_oder_geändert": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 5
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedItems"
            },
            "parameters": {
              "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
              "table": "6e406f83-7400-4568-88d3-25469885a7da"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Bedingung_-_Hat_Folge_Verknüpfung": {
          "runAfter": {},
          "type": "Condition",
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/Folge/Id']",
                "@null"
              ]
            }
          },
          "actions": {
            "Get_Sendung": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
                  "table": "08c76ffb-e10b-4158-92b5-73a509a221cc",
                  "id": "@triggerOutputs()?['body/Folge/Id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Bedingung_-_Hat_Plattform_Freigaben": {
              "runAfter": {
                "Get_Sendung": ["Succeeded"]
              },
              "type": "Condition",
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Sendung')?['body/field_18']",
                    "@null"
                  ]
                }
              },
              "actions": {
                "Update_Content_PlattformFreigaben": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "parameters": {
                      "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
                      "table": "6e406f83-7400-4568-88d3-25469885a7da",
                      "id": "@triggerOutputs()?['body/ID']",
                      "item/PlattformFreigaben": "@outputs('Get_Sendung')?['body/field_18']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "else": {
            "actions": {}
          }
        }
      },
      "outputs": {}
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "sharepointonline",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": true
  }
}
