Flows/Sendungen-Planner_Phase1.json
{"name":"f0051cab-3527-48c0-903f-cef38cc56b9e","id":"/providers/Microsoft.Flow/flows/f0051cab-3527-48c0-903f-cef38cc56b9e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sendungen → Planner (Phase 1)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-10T13:51:15.8949168Z","connectionKeySavedTimeKey":"2026-01-14T01:13:59.9874017Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"bab09973-e092-4a9b-88ec-23e4477cc66b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"StatusName":{"runAfter":{},"metadata":{"operationMetadataId":"951e8184-2653-49e4-a397-7868de8618e1"},"type":"Compose","inputs":"@string(\r\n  coalesce(\r\n    triggerBody()?['field_20/Value'],\r\n    triggerBody()?['field_20'],\r\n    'Nicht begonnen'\r\n  )\r\n)"},"ListBuckets":{"runAfter":{"StatusName":["Succeeded"]},"metadata":{"operationMetadataId":"7e089d0a-6dca-4ebf-8ac9-98ae6924da25"},"type":"OpenApiConnection","inputs":{"parameters":{"groupId":"d248cec5-c1d3-4ff5-9063-464b51e94769","id":"BvxWXWZmdkCDv5ijzP3Lg5YABxSR"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"ListBuckets_V3"},"authentication":"@parameters('$authentication')"}},"FilterBuckets":{"runAfter":{"ListBuckets":["Succeeded"]},"metadata":{"operationMetadataId":"c8dff25a-4a01-4329-a778-ff22f84287fc"},"type":"Query","inputs":{"from":"@outputs('ListBuckets')?['body/value']","where":"@contains(toLower(string(item()?['name'])), toLower(outputs('StatusName')))\n"}},"TargetBucketId":{"runAfter":{"FilterBuckets":["Succeeded"]},"metadata":{"operationMetadataId":"fba0f3c4-ed24-4966-bb39-1f9c7f425626"},"type":"Compose","inputs":"@if(\r\n  greater(length(body('FilterBuckets')), 0),\r\n  first(body('FilterBuckets'))?['id'],\r\n  first(body('ListBuckets')?['value'])?['id']\r\n)"},"TaskTitleRaw":{"runAfter":{"ZusatzJoined":["Succeeded"]},"metadata":{"operationMetadataId":"e4a4c4b9-c68b-41ef-8b6e-290ff80ceaf7"},"type":"Compose","inputs":"@concat('ID: #', string(triggerBody()?['ID']), ' | ', coalesce(triggerBody()?['field_5/Value'], triggerBody()?['field_5'], ''), if(empty(outputs('ZusatzJoined')), '', concat(' - ', outputs('ZusatzJoined'))), ' | ', if(empty(triggerBody()?['field_2']), '', formatDateTime(triggerBody()?['field_2'], 'dd.MM.yyyy')))"},"IstNeu":{"actions":{"CreateTask":{"metadata":{"operationMetadataId":"a427cf75-59ac-419b-9fdc-87cd3b5b20ef"},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"d248cec5-c1d3-4ff5-9063-464b51e94769","body/planId":"BvxWXWZmdkCDv5ijzP3Lg5YABxSR","body/title":"@outputs('TaskTitleClean')","body/dueDateTime":"@triggerBody()?['field_2']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":"@parameters('$authentication')"}},"WritePlannerId":{"runAfter":{"CreateTask":["Succeeded"]},"metadata":{"operationMetadataId":"c70065d7-3816-4443-b55a-7ff80f0064ac"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@triggerBody()?['ID']","item/field_2":"@triggerBody()?['field_2']","item/PlannerAufgabenID":"@outputs('CreateTask')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"HasScoopaNew":{"actions":{"AddScoopaNew":{"metadata":{"operationMetadataId":"f14a9e8b-946a-4f96-9c2c-5c34fc20c6da"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']","body/references":[{"alias":"📁 Projektordner","resourceLink":"@outputs('ScoopaUrl')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"SetNotes_New":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('ScoopaUrl')))","@true"]}]},"metadata":{"operationMetadataId":"44f13f05-957d-41c1-88e7-7576c2a80b05"},"type":"If"},"HasVodNew":{"actions":{"AddVodNew":{"metadata":{"operationMetadataId":"0f2faf39-f15a-4c50-addf-2cccd671593b"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']","body/references":[{"alias":"📺 Mediathek-Link","resourceLink":"@outputs('VodUrl')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"HasScoopaNew":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('VodUrl')))","@true"]}]},"metadata":{"operationMetadataId":"fcd5478d-1ef6-4b94-9f93-940b69e00252"},"type":"If"},"HasItemLinkNew":{"actions":{"AddItemNew":{"metadata":{"operationMetadataId":"0ea76300-4126-46a2-9199-890ebfdd18e3"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']","body/references":[{"alias":"🔍 Datensatz","resourceLink":"@outputs('ItemLink')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"HasVodNew":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('ItemLink')))",true]}]},"metadata":{"operationMetadataId":"d7529260-44cf-464b-b4c4-3aa7b62f079f"},"type":"If"},"HasLogo":{"actions":{"GetTaskDetails_New":{"metadata":{"operationMetadataId":"d8a1b8b0-143f-41a3-a1fc-8433df2c9a8a"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"GetTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"SetCover_New":{"runAfter":{"DelayBeforeCoverNew":["Succeeded"]},"metadata":{"operationMetadataId":"d449ac80-568a-4ad8-9752-11307a60c3ea"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']","body/references":[{"alias":"Logo","resourceLink":"@outputs('LogoUrl')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"DelayBeforeCoverNew":{"runAfter":{"GetTaskDetails_New":["Succeeded"]},"metadata":{"operationMetadataId":"19e7e906-5ba0-4865-b501-5ce6f1bac781"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"HasItemLinkNew":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('LogoUrl')))","@true"]}]},"metadata":{"operationMetadataId":"f1632654-858e-48f9-9abd-d4d8325fbe53"},"type":"If"},"SetNotes_New":{"runAfter":{"WritePlannerId":["Succeeded"]},"metadata":{"operationMetadataId":"c74303ae-c0d6-4c0b-8d0b-15d6a37ab476"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('CreateTask')?['body/id']","body/description":"@outputs('NotesFinal')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Notes":["Succeeded"]},"else":{"actions":{"GetTask":{"metadata":{"operationMetadataId":"6609077c-0412-4b84-8c73-e33644eb3657"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"GetTask_V2"},"authentication":"@parameters('$authentication')"}},"UpdateTask":{"runAfter":{"GetTask":["Succeeded"]},"metadata":{"operationMetadataId":"412c9c48-9bc9-4555-b5e0-e75ad4160651"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/title":"@outputs('TaskTitleClean')","body/dueDateTime":"@triggerBody()?['field_2']","body/bucketId":"@outputs('TargetBucketId')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTask_V3"},"authentication":"@parameters('$authentication')"}},"HasScoopaUpdate":{"actions":{"AddScoopaUpdate":{"metadata":{"operationMetadataId":"7d9764b0-d0b7-460e-918e-34532fcd4cbb"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/references":[{"alias":"📁 Projektordner","resourceLink":"@outputs('ScoopaUrl')"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"SetNotes_Update":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('ScoopaUrl')))","@true"]}]},"metadata":{"operationMetadataId":"495883ea-6f8f-4c52-a8ed-b7db721c57db"},"type":"If"},"HasVodUpdate":{"actions":{"AddVodUpdate":{"metadata":{"operationMetadataId":"5b1626aa-e87e-4038-93a5-161fe43e77bc"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/references":[{"alias":"📺 Mediathek-Link","resourceLink":"@outputs('VodUrl')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"HasScoopaUpdate":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('VodUrl')))","@true"]}]},"metadata":{"operationMetadataId":"8614619c-5d46-4bb2-8e89-bac0af63fa93"},"type":"If"},"HasItemLinkUpdate":{"actions":{"AddItemUpdate":{"metadata":{"operationMetadataId":"a43c24d3-0c7a-4b85-bd2e-f2ed8d87287b"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/references":[{"alias":"🔍 Datensatz","resourceLink":"@outputs('ItemLink')"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"HasVodUpdate":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('ItemLink')))","@true"]}]},"metadata":{"operationMetadataId":"676ab07f-b33c-45f0-8fa4-bce503d0e2d0"},"type":"If"},"HasLogoUpdate":{"actions":{"GetTaskDetails_Update":{"metadata":{"operationMetadataId":"e4aafd72-1fcc-4576-aff9-8d10c4c979dc"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"GetTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"SetCover_Update":{"runAfter":{"DelayBeforeCoverUpdate":["Succeeded"]},"metadata":{"operationMetadataId":"a1448682-6bc3-4c2d-8933-401102dc6cb7"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/references":[{"alias":"Logo","resourceLink":"@outputs('LogoUrl')","type":"Other"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}},"DelayBeforeCoverUpdate":{"runAfter":{"GetTaskDetails_Update":["Succeeded"]},"metadata":{"operationMetadataId":"ca4a6f11-6b1f-43eb-b437-35dc9a09c332"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"HasItemLinkUpdate":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@not(empty(outputs('LogoUrl')))","@true"]}]},"metadata":{"operationMetadataId":"39d41a5f-7972-4d32-8fa8-35d17ca295cf"},"type":"If"},"SetNotes_Update":{"runAfter":{"UpdateTask":["Succeeded"]},"metadata":{"operationMetadataId":"382e43f8-b08e-4794-baf0-93909979e102"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@triggerBody()?['PlannerAufgabenID']","body/description":"@outputs('NotesFinal')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@empty(triggerBody()?['PlannerAufgabenID'])","@true"]}]},"metadata":{"operationMetadataId":"482a4a10-e636-4ee6-8bcd-7b2c4fc92e99"},"type":"If"},"LogoUrl":{"runAfter":{"TaskTitleClean":["Succeeded"]},"metadata":{"operationMetadataId":"67c97fef-5aa3-4964-8aeb-909543c320a5"},"type":"Compose","inputs":"@coalesce(\r\n  triggerBody()?['Logo_x002d_Sendung'],\r\n  triggerBody()?['Logo_x002d_Sendung#Url'],\r\n  triggerBody()?['Logo_x002d_Sendung/Url'],\r\n  ''\r\n)"},"ZusatzArr":{"runAfter":{"TargetBucketId":["Succeeded"]},"metadata":{"operationMetadataId":"ab5c4852-b731-4609-9a41-7beec08c5b06"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ZusatzArr","type":"array"}]}},"ZusatzArrayInput":{"runAfter":{"ZusatzArr":["Succeeded"]},"metadata":{"operationMetadataId":"2434bd38-3535-4282-a018-8abac9314e2f"},"type":"Compose","inputs":"@if(\r\n  equals(triggerBody()?['field_9'], null),\r\n  createArray(),\r\n  array(triggerBody()?['field_9'])\r\n)"},"ForEachZusatz":{"foreach":"@outputs('ZusatzArrayInput')","actions":{"An_Arrayvariable_anfügen":{"metadata":{"operationMetadataId":"344f54e6-35fe-446f-a7f5-afacd55dab61"},"type":"AppendToArrayVariable","inputs":{"name":"ZusatzArr","value":"@coalesce(item()?['Value'], string(item()))"}}},"runAfter":{"ZusatzArrayInput":["Succeeded"]},"metadata":{"operationMetadataId":"8fe887a7-ab56-46c1-acf1-3623aa4e6f6f"},"type":"Foreach"},"ZusatzJoined":{"runAfter":{"ForEachZusatz":["Succeeded"]},"metadata":{"operationMetadataId":"d6416b86-dca5-4956-9d83-f2deff85d825"},"type":"Compose","inputs":"@join(variables('ZusatzArr'), ' - ')"},"TaskTitleClean":{"runAfter":{"TaskTitle":["Succeeded"]},"metadata":{"operationMetadataId":"103ebc2a-17b3-4dc8-8d44-a559b1c14c5a"},"type":"Compose","inputs":"@replace(replace(replace(outputs('TaskTitleRaw'), '  ', ' '), ' |  ', ' | '), '  |', ' |')"},"TaskTitle":{"runAfter":{"TaskTitleRaw":["Succeeded"]},"metadata":{"operationMetadataId":"47c6c9fd-5a95-4ac5-b58d-5b06aefc80b7"},"type":"Compose","inputs":"@if(\r\n  greater(length(outputs('TaskTitleRaw')), 255),\r\n  concat(substring(outputs('TaskTitleRaw'), 0, 252), '...'),\r\n  outputs('TaskTitleRaw')\r\n)"},"ScoopaUrl":{"runAfter":{"LogoUrl":["Succeeded"]},"metadata":{"operationMetadataId":"c6aabb3b-cef4-41dd-9fd0-28549e9e9182"},"type":"Compose","inputs":"@coalesce(triggerBody()?['Scoopa0'], triggerBody()?['Scoopa'], '')"},"VodUrl":{"runAfter":{"ScoopaUrl":["Succeeded"]},"metadata":{"operationMetadataId":"bc19a592-1071-44d6-b471-f9fdf20cf706"},"type":"Compose","inputs":"@coalesce(triggerBody()?['VideoTitel'], '')"},"ItemLink":{"runAfter":{"VodUrl":["Succeeded"]},"metadata":{"operationMetadataId":"65738c63-f625-4a3b-b752-1d42c13b082f"},"type":"Compose","inputs":"@triggerBody()?['{Link}']"},"PfArr":{"runAfter":{"ItemLink":["Succeeded"]},"metadata":{"operationMetadataId":"15937cb4-1c22-4a34-b7cf-f88a8524492e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PfArr","type":"array"}]}},"PfInput":{"runAfter":{"PfArr":["Succeeded"]},"metadata":{"operationMetadataId":"dfeaac37-e9ca-41c6-87c9-f528e15b1807"},"type":"Compose","inputs":"@if(equals(triggerBody()?['field_18'], null), createArray(), array(triggerBody()?['field_18']))"},"ForEachPf":{"foreach":"@outputs('PfInput')","actions":{"Arrayvariable_anfügen":{"metadata":{"operationMetadataId":"9f53cd95-38b5-4bd9-881a-a9e1f19bf88c"},"type":"AppendToArrayVariable","inputs":{"name":"PfArr","value":"@coalesce(item()?['Value'], string(item()))"}}},"runAfter":{"PfInput":["Succeeded"]},"metadata":{"operationMetadataId":"d39e1ff5-5f57-46a9-b723-0bb191742e57"},"type":"Foreach"},"PfJoined":{"runAfter":{"ForEachPf":["Succeeded"]},"metadata":{"operationMetadataId":"4ad133bf-418b-4721-85d2-c78efb5108bc"},"type":"Compose","inputs":"@if(equals(length(variables('PfArr')), 0), '', join(variables('PfArr'), ', '))"},"ContArr":{"runAfter":{"PfJoined":["Succeeded"]},"metadata":{"operationMetadataId":"a31ad941-8e69-4057-82ee-0a07bc532841"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ContArr","type":"array"}]}},"ContInput":{"runAfter":{"ContArr":["Succeeded"]},"metadata":{"operationMetadataId":"da6bb318-8aba-448e-a9c7-132f669cb473"},"type":"Compose","inputs":"@if(equals(triggerBody()?['Container'], null), createArray(), array(triggerBody()?['Container']))"},"ForEachCont":{"foreach":"@outputs('ContInput')","actions":{"Arrayvariable_anfügen_2":{"metadata":{"operationMetadataId":"824c8345-65e8-4c17-9478-c5d9b54f1343"},"type":"AppendToArrayVariable","inputs":{"name":"ContArr","value":"@coalesce(item()?['Value'], string(item()))"}}},"runAfter":{"ContInput":["Succeeded"]},"metadata":{"operationMetadataId":"60189d42-2b6b-4cf1-83ba-0a978dc5a658"},"type":"Foreach"},"ContJoined":{"runAfter":{"ForEachCont":["Succeeded"]},"metadata":{"operationMetadataId":"ccbddf41-db46-4afd-9c69-b21416da4352"},"type":"Compose","inputs":"@if(equals(length(variables('ContArr')), 0), '', join(variables('ContArr'), ', '))"},"Notes":{"runAfter":{"NotesFinal":["Succeeded"]},"metadata":{"operationMetadataId":"1301198a-8f17-43eb-b506-6548ba15f19f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Notes","type":"string"}]}},"KuenstlerArr":{"runAfter":{"ContJoined":["Succeeded"]},"metadata":{"operationMetadataId":"9b6d1865-7658-4db8-9c45-430a90be2398"},"type":"InitializeVariable","inputs":{"variables":[{"name":"KuenstlerArr","type":"array","value":"@json('[]')"}]}},"KuenstlerInput":{"runAfter":{"KuenstlerArr":["Succeeded"]},"metadata":{"operationMetadataId":"bd021244-79bd-417b-8c1f-04746febe1c7"},"type":"Compose","inputs":"@coalesce(triggerBody()?['field_10'], createArray())"},"ForEachKuenstler":{"foreach":"@outputs('KuenstlerInput')","actions":{"An_Arrayvariable_anfügen_3":{"metadata":{"operationMetadataId":"ce5ff8b0-b6e4-4ae4-aeac-7146904eff74"},"type":"AppendToArrayVariable","inputs":{"name":"KuenstlerArr","value":"@coalesce(item()?['Value'], item())\n"}}},"runAfter":{"KuenstlerInput":["Succeeded"]},"metadata":{"operationMetadataId":"694a42d2-ce10-466b-a88c-d034a7a23c74"},"type":"Foreach"},"KuenstlerJoined":{"runAfter":{"ForEachKuenstler":["Succeeded"]},"metadata":{"operationMetadataId":"70daea75-1d88-4be7-bef5-c577e3aae516"},"type":"Compose","inputs":"@if(equals(length(variables('KuenstlerArr')), 0), '', join(variables('KuenstlerArr'), ', '))"},"LF":{"runAfter":{"KuenstlerJoined":["Succeeded"]},"type":"Compose","inputs":"@decodeUriComponent('%0A')"},"HinweisSection":{"runAfter":{"BriefingPlain":["Succeeded"]},"type":"Compose","inputs":"@if(\r\n  equals(trim(outputs('HinweisPlain')),''),\r\n  '',\r\n  concat('ℹ️ Wichtige Infos', outputs('LF'), trim(outputs('HinweisPlain')), outputs('LF'), outputs('LF'))\r\n)"},"HeaderSection":{"runAfter":{"HinweisSection":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n  '👤 Ansprechpartner: ', coalesce(triggerBody()?['field_13'], ''), outputs('LF'), outputs('LF'),\r\n  '📤 Plattformfreigaben: ', coalesce(outputs('PfJoined'), ''), outputs('LF'), outputs('LF'),\r\n  '🎭 Künstler: ', coalesce(outputs('KuenstlerJoined'), ''), outputs('LF'), outputs('LF')\r\n)"},"BriefingSection":{"runAfter":{"HeaderSection":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n  '🎯 Producer Briefing', outputs('LF'),\r\n  '📑 Sendungskürzel: ', coalesce(triggerBody()?['Title'], ''), outputs('LF'),\r\n  '🧰 Container: ', coalesce(outputs('ContJoined'), ''), outputs('LF'),\r\n  if(equals(trim(outputs('BriefingPlain')),''),'',concat(trim(outputs('BriefingPlain')), outputs('LF'))),\r\n  outputs('LF')\r\n)"},"NotesRaw":{"runAfter":{"BriefingSection":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n  outputs('HeaderSection'),\r\n  outputs('HinweisSection'),\r\n  outputs('BriefingSection')\r\n)"},"NotesFinal":{"runAfter":{"NotesRaw":["Succeeded"]},"type":"Compose","inputs":"@replace(outputs('NotesRaw'), '\\n', outputs('LF'))"},"BriefingHtml":{"runAfter":{"HinweisPlain":["Succeeded"]},"type":"Compose","inputs":"@coalesce(triggerBody()?['ProducerBriefing'], '')"},"BriefingNorm":{"runAfter":{"BriefingHtml":["Succeeded"]},"type":"Compose","inputs":"@replace(\r\n  replace(\r\n    replace(\r\n      replace(\r\n        replace(\r\n          replace(outputs('BriefingHtml'), '<br>', outputs('LF')),\r\n        '<br />', outputs('LF')),\r\n      '</div>', outputs('LF')),\r\n    '</p>', outputs('LF')),\r\n  '</li>', outputs('LF')),\r\n'&nbsp;', ' ')"},"HinweisHtml":{"runAfter":{"LF":["Succeeded"]},"type":"Compose","inputs":"@coalesce(triggerBody()?['field_6'], '')"},"HinweisNorm":{"runAfter":{"HinweisHtml":["Succeeded"]},"type":"Compose","inputs":"@replace(\r\n  replace(\r\n    replace(\r\n      replace(\r\n        replace(\r\n          replace(outputs('HinweisHtml'), '<br>', outputs('LF')),\r\n        '<br />', outputs('LF')),\r\n      '</div>', outputs('LF')),\r\n    '</p>', outputs('LF')),\r\n  '</li>', outputs('LF')),\r\n'&nbsp;', ' ')"},"BriefingParts":{"runAfter":{"BriefingNorm":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('BriefingNorm'), '<')"},"BriefingStrippedArr":{"runAfter":{"BriefingParts":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"BriefingStrippedArr","type":"array","value":"@json('[]')"}]}},"ForEachBriefingPart":{"foreach":"@outputs('BriefingParts')","actions":{"BriefingPartStripped":{"type":"Compose","inputs":"@if(\r\n  contains(item(), '>'),\r\n  last(split(item(), '>')),\r\n  item()\r\n)"},"BriefingStrippedArr2":{"runAfter":{"BriefingPartStripped":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BriefingStrippedArr","value":"@outputs('BriefingPartStripped')"}}},"runAfter":{"BriefingStrippedArr":["Succeeded"]},"type":"Foreach"},"BriefingPlain":{"runAfter":{"ForEachBriefingPart":["Succeeded"]},"type":"Compose","inputs":"@trim(\r\n  replace(\r\n    join(variables('BriefingStrippedArr'), ''),\r\n    '<br/>',\r\n    outputs('LF')\r\n  )\r\n)"},"HinweisParts":{"runAfter":{"HinweisNorm":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('HinweisNorm'), '<')"},"HinweisStrippedArr":{"runAfter":{"HinweisParts":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"HinweisStrippedArr","type":"array","value":"@json('[]')"}]}},"ForEachHinweisPart":{"foreach":"@outputs('HinweisParts')","actions":{"HinweisPartStripped":{"type":"Compose","inputs":"@if(\r\n  contains(item(), '>'),\r\n  last(split(item(), '>')),\r\n  item()\r\n)"},"HinweisStrippedArr2":{"runAfter":{"HinweisPartStripped":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"HinweisStrippedArr","value":"@outputs('HinweisPartStripped')"}}},"runAfter":{"HinweisStrippedArr":["Succeeded"]},"type":"Foreach"},"HinweisPlain":{"runAfter":{"ForEachHinweisPart":["Succeeded"]},"type":"Compose","inputs":"@trim(\r\n  replace(\r\n    join(variables('HinweisStrippedArr'), ''),\r\n    '<br/>',\r\n    outputs('LF')\r\n  )\r\n)"}},"outputs":{},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_planner":{"connectionName":"shared-planner-21e96c1a-d69f-40b2-bec8-a6abc5999278","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified","apiName":"planner","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}
