Flows/Sendungen→TeamsAdaptiveCard_20260122114723.json
{"name":"051aea85-b4bc-4654-8a8e-a3cbc53d6a8a","id":"/providers/Microsoft.Flow/flows/051aea85-b4bc-4654-8a8e-a3cbc53d6a8a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sendungen → Teams Adaptive Card","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-16T16:36:07.3091409Z","connectionKeySavedTimeKey":"2026-01-16T16:36:07.3091409Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@and(   equals(triggerOutputs()?['body/SendeanPlanner'], true),   not(equals(triggerOutputs()?['body/AlteSendung'], true)) )"}]}},"actions":{"varStatusBadge":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varStatusBadge","type":"string"}]}},"varKuenstler":{"runAfter":{"varStatusBadge":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varKuenstler","type":"string"}]}},"varPlattformen":{"runAfter":{"varKuenstler":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlattformen","type":"string"}]}},"varContainer":{"runAfter":{"varPlattformen":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varContainer","type":"string"}]}},"varHinweis":{"runAfter":{"varContainer":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHinweis","type":"string"}]}},"varBriefing":{"runAfter":{"varHinweis":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBriefing","type":"string"}]}},"Wechseln":{"runAfter":{"varLinkButtons":["Succeeded"]},"cases":{"Case":{"case":"Nicht begonnen","actions":{"varStatusBadgeNichtBegonnen":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"⚪ Nicht begonnen"}}}},"Case 2":{"case":"In Bearbeitung","actions":{"varStatusBadgeInBearbeitung":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"🔵 In Bearbeitung"}}}},"Case 3":{"case":"Abnahmebereit","actions":{"varStatusBadgeAbnahmebereit":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"🟡 Abnahmebereit"}}}},"Case 4":{"case":"Fertig","actions":{"varStatusBadgeFertig":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"🟢 Fertig"}}}},"Case_5":{"case":"Archiviert","actions":{"varStatusBadgeArchiviert":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"🟤 Archiviert"}}}}},"default":{"actions":{"varStatusBadgeUnbekannt":{"type":"SetVariable","inputs":{"name":"varStatusBadge","value":"⚪ Unbekannt"}}}},"expression":"@triggerOutputs()?['body/field_20/Value']","type":"Switch"},"varHinweisHTMLbereinigen":{"runAfter":{"SetvarZusatztitel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varHinweis","value":"@if(empty(triggerOutputs()?['body/field_6']), '', replace(replace(replace(replace(replace(replace(replace(string(triggerOutputs()?['body/field_6']), '<br>', decodeUriComponent('%0A%0A')), '<br/>', decodeUriComponent('%0A%0A')), '<br />', decodeUriComponent('%0A%0A')), '</p>', decodeUriComponent('%0A%0A')), '</div>', decodeUriComponent('%0A%0A')), '<p>', ''), '<div>', ''))"}},"varBriefingHTMLbereinigen":{"runAfter":{"varHinweisHTMLbereinigen":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varBriefing","value":"@if(empty(triggerOutputs()?['body/ProducerBriefing']), '', replace(replace(replace(replace(replace(replace(replace(string(triggerOutputs()?['body/ProducerBriefing']), '<br>', decodeUriComponent('%0A%0A')), '<br/>', decodeUriComponent('%0A%0A')), '<br />', decodeUriComponent('%0A%0A')), '</p>', decodeUriComponent('%0A%0A')), '</div>', decodeUriComponent('%0A%0A')), '<p>', ''), '<div>', ''))"}},"AdaptiveCardJSON":{"runAfter":{"BedingungMediathek":["Succeeded"]},"type":"Compose","inputs":{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.4","body":[{"type":"Container","style":"@{if(equals(triggerOutputs()?['body/field_20/Value'], 'Fertig'), 'good', if(equals(triggerOutputs()?['body/field_20/Value'], 'Abnahmebereit'), 'attention', if(equals(triggerOutputs()?['body/field_20/Value'], 'In Bearbeitung'), 'accent', 'emphasis')))}","bleed":true,"items":[{"type":"TextBlock","text":"@{variables('varStatusBadge')}","weight":"Bolder","size":"Medium","horizontalAlignment":"Center"}]},{"type":"Image","url":"@{if(empty(triggerOutputs()?['body/LogoCardUrl']), '', triggerOutputs()?['body/LogoCardUrl'])}","size":"Stretch","horizontalAlignment":"Center"},{"type":"Container","style":"emphasis","items":[{"type":"TextBlock","text":"#@{triggerOutputs()?['body/ID']} | @{triggerOutputs()?['body/field_5/Value']}@{variables('varZusatztitel')}","weight":"Bolder","size":"Large","wrap":true},{"type":"ColumnSet","spacing":"Small","columns":[{"type":"Column","width":"auto","items":[{"type":"TextBlock","text":"📅 @{if(empty(triggerOutputs()?['body/field_2']), '-', formatDateTime(triggerOutputs()?['body/field_2'], 'dd.MM.yyyy'))}","spacing":"None"}]},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"[Datensatz öffnen](@{triggerOutputs()?['body/{Link}']})","horizontalAlignment":"Right","spacing":"None"}]}]}]},{"type":"Container","separator":true,"spacing":"Medium","items":[{"type":"TextBlock","text":"👤 **Producer:** @{if(empty(triggerOutputs()?['body/Producer']), 'Nicht zugewiesen', triggerOutputs()?['body/Producer']?[0]?['DisplayName'])}","spacing":"None"}]},{"type":"ColumnSet","separator":true,"spacing":"Medium","columns":[{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"**Künstler**","size":"Small","isSubtle":true},{"type":"TextBlock","text":"@{variables('varKuenstler')}","wrap":true}]},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"**Ansprechpartner**","size":"Small","isSubtle":true},{"type":"TextBlock","text":"@{coalesce(triggerOutputs()?['body/field_13'], '-')}","wrap":true}]},{"type":"Column","width":"stretch","items":[{"type":"TextBlock","text":"**Plattformen**","size":"Small","isSubtle":true},{"type":"TextBlock","text":"@{variables('varPlattformen')}","wrap":true}]}]},{"type":"Container","separator":true,"spacing":"Medium","style":"emphasis","isVisible":"@not(empty(variables('varHinweis')))","items":[{"type":"Container","separator":true,"spacing":"Large","style":"emphasis","isVisible":"@not(empty(variables('varHinweis')))","items":[{"type":"TextBlock","text":"⚠️ **Hinweis**","weight":"Bolder","color":"Attention"},{"type":"TextBlock","text":"@{variables('varHinweis')}","wrap":true}]}]},{"type":"Container","separator":true,"spacing":"Medium","items":[{"type":"TextBlock","text":"🎯 **Producer Briefing**","weight":"Bolder","size":"Medium"},{"type":"TextBlock","text":"**Sendungskürzel:** @{triggerOutputs()?['body/Title']}","spacing":"Small"},{"type":"TextBlock","text":"**Container:** @{variables('varContainer')}","spacing":"Small"},{"type":"TextBlock","text":"@{variables('varBriefing')}","wrap":true,"isSubtle":true}]},{"type":"ColumnSet","separator":true,"spacing":"Large","columns":"@variables('varLinkButtons')"}],"msteams":{"width":"Full"}}},"Bedingung":{"actions":{"Karte_in_einem_Chat_oder_Kanal_veröffentlichen":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"d248cec5-c1d3-4ff5-9063-464b51e94769","body/recipient/channelId":"19:3f67cd94e241472aab55708084e3bce8@thread.tacv2","body/messageBody":"@outputs('AdaptiveCardJSON')","body/cardTypeId":"ARDStandUp-ProducerZuweisung"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}},"Element_aktualisieren":{"runAfter":{"Karte_in_einem_Chat_oder_Kanal_veröffentlichen":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@triggerBody()?['ID']","item/field_2":"@triggerBody()?['field_2']","item/TeamsMessageId":"@outputs('Karte_in_einem_Chat_oder_Kanal_veröffentlichen')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"AdaptiveCardJSON":["Succeeded"]},"else":{"actions":{"Adaptive_Karte_in_einem_Chat_oder_Kanal_aktualisieren":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/messageId":"@triggerBody()?['TeamsMessageId']","body/recipient/groupId":"d248cec5-c1d3-4ff5-9063-464b51e94769","body/recipient/channelId":"19:3f67cd94e241472aab55708084e3bce8@thread.tacv2","body/messageBody":"@outputs('AdaptiveCardJSON')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"UpdateCardInConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@empty(triggerBody()?['TeamsMessageId'])",true]}]},"type":"If"},"SelectKuenstler":{"runAfter":{"Wechseln":["Succeeded"]},"type":"Select","inputs":{"from":"@triggerOutputs()?['body/field_10']","select":"@item()?['Value']"}},"SetvarKuenstler":{"runAfter":{"SelectKuenstler":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varKuenstler","value":"@if(empty(body('SelectKuenstler')),'-',join(body('SelectKuenstler'),', '))"}},"SelectPlattformen":{"runAfter":{"SetvarKuenstler":["Succeeded"]},"type":"Select","inputs":{"from":"@triggerOutputs()?['body/field_18']","select":"@item()?['Value']"}},"SetvarPlattformen":{"runAfter":{"SelectPlattformen":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varPlattformen","value":"@if(empty(body('SelectPlattformen')),'-',join(body('SelectPlattformen'),', '))"}},"SelectContainer":{"runAfter":{"SetvarPlattformen":["Succeeded"]},"type":"Select","inputs":{"from":"@triggerOutputs()?['body/Container']","select":"@item()?['Value']"}},"SetvarContainer":{"runAfter":{"SelectContainer":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varContainer","value":"@if(empty(body('SelectContainer')),'-',join(body('SelectContainer'),', '))"}},"varZusatztitel":{"runAfter":{"varBriefing":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varZusatztitel","type":"string"}]}},"SelectZusatztitel":{"runAfter":{"SetvarContainer":["Succeeded"]},"type":"Select","inputs":{"from":"@triggerOutputs()?['body/field_9']","select":"@item()?['Value']"}},"SetvarZusatztitel":{"runAfter":{"SelectZusatztitel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varZusatztitel","value":"@if(empty(body('SelectZusatztitel')),'',concat(' - ',join(body('SelectZusatztitel'),' | ')))"}},"varLinkButtons":{"runAfter":{"varZusatztitel":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varLinkButtons","type":"array"}]}},"BedingungProjektordner":{"actions":{"An_Arrayvariable_anfügen_Projektordner":{"type":"AppendToArrayVariable","inputs":{"name":"varLinkButtons","value":{"type":"Column","width":"auto","items":[{"type":"Container","style":"emphasis","minHeight":"90px","selectAction":{"type":"Action.OpenUrl","url":"@{triggerOutputs()?['body/Scoopa0']}"},"items":[{"type":"Image","url":"https://drive.google.com/uc?export=view&id=1LIxUzMX2atfjJbGps19-izfCnQ5dUcJv","width":"40px","height":"40px","horizontalAlignment":"Center","spacing":"Small"},{"type":"TextBlock","text":"Projektordner","horizontalAlignment":"Center","spacing":"Small"}]}]}}}},"runAfter":{"varBriefingHTMLbereinigen":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/Scoopa0'])",false]}]},"type":"If"},"BedingungPlanner":{"actions":{"An_Arrayvariable_anfügen_Planner":{"type":"AppendToArrayVariable","inputs":{"name":"varLinkButtons","value":{"type":"Column","width":"auto","spacing":"Medium","items":[{"type":"Container","style":"emphasis","minHeight":"90px","selectAction":{"type":"Action.OpenUrl","url":"https://tasks.office.com/wdr.de/Home/Task/@{triggerOutputs()?['body/PlannerAufgabenID']}"},"items":[{"type":"Image","url":"https://drive.google.com/uc?export=view&id=1Aa3IfIGFxmUFpiRMGchLOOf3kOcT4QI8","width":"40px","height":"40px","horizontalAlignment":"Center","spacing":"Small"},{"type":"TextBlock","text":"Planner","horizontalAlignment":"Center","spacing":"Small"}]}]}}}},"runAfter":{"BedingungProjektordner":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/PlannerAufgabenID'])",false]}]},"type":"If"},"BedingungMediathek":{"actions":{"An_Arrayvariable_anfügen_Mediathek":{"type":"AppendToArrayVariable","inputs":{"name":"varLinkButtons","value":{"type":"Column","width":"auto","spacing":"Medium","items":[{"type":"Container","style":"emphasis","minHeight":"90px","selectAction":{"type":"Action.OpenUrl","url":"@{triggerOutputs()?['body/VideoTitel']}"},"items":[{"type":"Image","url":"https://drive.google.com/uc?export=view&id=1KlTkFPmaYp9DMCmjEkNmsQxpeimaYdoT","width":"40px","height":"40px","horizontalAlignment":"Center","spacing":"Small"},{"type":"TextBlock","text":"Mediathek","horizontalAlignment":"Center","spacing":"Small"}]}]}}}},"runAfter":{"BedingungPlanner":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/VideoTitel'])",false]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-a35d446e-8a32-40ea-ac4f-f41ee376bce9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}
