Flows/SyncContentElementeLookup_20260122114950.json
{"name":"11810e95-9a30-41af-9ae5-f919da5d9682","id":"/providers/Microsoft.Flow/flows/11810e95-9a30-41af-9ae5-f919da5d9682","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync ContentElementeLookup","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-13T15:23:34.295978Z","connectionKeySavedTimeKey":"2025-12-08T20:39:00.9262269Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Variable_initialisieren":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"SendungID","type":"integer","value":"@triggerBody()?['Folge/Id']"}]}},"Elemente_abrufen":{"runAfter":{"Variable_initialisieren":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","$filter":"Folge/Id eq @{variables('SendungID')}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Element_aktualisieren":{"runAfter":{"SelectIDs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@variables('SendungID')","item/field_2":"@triggerBody()?['Folge_x003a__x0020_Rechte_x0020_/Value']","item/ContentElementeLookup":"@body('SelectIDs')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"SelectIDs":{"runAfter":{"Elemente_abrufen":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('Elemente_abrufen')?['body/value']","select":{"Id":"@item()?['ID']\r\n"}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}
