Flows/SyncSendungs-Stand_20260122114830.json
{"name":"9bcce54b-395e-4a9b-91ed-700da09af079","id":"/providers/Microsoft.Flow/flows/9bcce54b-395e-4a9b-91ed-700da09af079","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync Sendungs-Stand","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-01T14:50:15.2241035Z","connectionKeySavedTimeKey":"2025-12-05T21:01:00.6771998Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"5d65c237-67f2-47f7-926f-97cf1e20d357"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"concurrency":{"runs":1}}}},"actions":{"Variable_initialisieren":{"runAfter":{},"metadata":{"operationMetadataId":"aeef9603-1f47-4332-92a8-bcaa9b07f32c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSendungID","type":"integer","value":"@triggerOutputs()?['body/Folge_x003a__x0020_Nr_x002e_ID#Id']"}]}},"Variable_initialisieren_2":{"runAfter":{"Variable_initialisieren":["Succeeded"]},"metadata":{"operationMetadataId":"75b8f4f9-9b1a-4868-a3d0-6b8ff441af93"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAggregatedStatus","type":"string","value":"Fertig"}]}},"Get_Entwurf":{"runAfter":{"Variable_initialisieren_2":["Succeeded"]},"metadata":{"operationMetadataId":"a148c4bd-ae32-4093-89fd-b1c6ed8f5de3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","$filter":"Folge_x003a__x0020_Nr_x002e_IDId eq @{variables('varSendungID')}\nand (Bearbeitungsstautus eq 'Entwurf' or Bearbeitungsstautus eq 'In Bearbeitung')"},"authentication":"@parameters('$authentication')"}},"Get_Abnahmebereit":{"runAfter":{"Get_Entwurf":["Succeeded"]},"metadata":{"operationMetadataId":"201e17be-deb8-4261-a6e2-ace1e2036caa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da","$filter":"Folge_x003a__x0020_Nr_x002e_IDId eq @{variables('varSendungID')}\nand Bearbeitungsstautus eq 'Abnahmebereit'"},"authentication":"@parameters('$authentication')"}},"Bedingung":{"actions":{"Variable_festlegen":{"runAfter":{},"metadata":{"operationMetadataId":"717058e8-1a28-4932-89c7-85470558fa3e"},"type":"SetVariable","inputs":{"name":"varAggregatedStatus","value":"In Bearbeitung"}}},"runAfter":{"Get_Abnahmebereit":["Succeeded"]},"expression":{"greater":["@length(body('Get_Entwurf')['value'])",0]},"metadata":{"operationMetadataId":"1235fbec-abcc-426f-817c-dcac1dc5b562"},"type":"If"},"Bedingung_2":{"actions":{"Variable_festlegen_2":{"runAfter":{},"metadata":{"operationMetadataId":"5f20f738-8f3d-40bb-aa6f-7ea1a7ea725d"},"type":"SetVariable","inputs":{"name":"varAggregatedStatus","value":"Abnahmebereit"}}},"runAfter":{"Bedingung":["Succeeded"]},"expression":{"greater":["@length(body('Get_Abnahmebereit')['value'])",0]},"metadata":{"operationMetadataId":"9295cd46-1e5a-4928-83f4-d637af94ddc8"},"type":"If"},"Get_Sendung":{"runAfter":{"Bedingung_2":["Succeeded"]},"metadata":{"operationMetadataId":"64152474-8272-4202-9024-6e0b34eb1f94"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@variables('varSendungID')"},"authentication":"@parameters('$authentication')"}},"Bedingung_3":{"actions":{"Element_aktualisieren":{"runAfter":{},"metadata":{"operationMetadataId":"256c6923-2bce-45e7-b7de-9efeae21c4f7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@variables('varSendungID')","item/field_2":"@outputs('Get_Sendung')?['body/field_2']","item/field_20/Value":"@variables('varAggregatedStatus')"},"retryPolicy":{"type":"fixed","count":3,"interval":"PT30S"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Sendung":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Sendung')?['body/field_20']","@variables('varAggregatedStatus')"]}},"metadata":{"operationMetadataId":"1aa2660d-b628-44cd-be78-0513830a201e"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}
