Flows/SyncPlattformFreigaben_Sendung→Content.json
{
  "name": "SyncPlattformFreigaben",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "displayName": "Sync Plattform-Freigaben (Sendung → Content)",
    "description": "Überträgt Plattform-Freigaben von Sendungen auf alle verknüpften Content-Elemente",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": { "defaultValue": {}, "type": "Object" },
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "Wenn_Sendung_geändert_wird": {
          "recurrence": { "frequency": "Minute", "interval": 5 },
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedItems"
            },
            "parameters": {
              "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
              "table": "08c76ffb-e10b-4158-92b5-73a509a221cc"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@not(empty(triggerOutputs()?['body/field_18']))"
            }
          ],
          "runtimeConfiguration": { "concurrency": { "runs": 1 } }
        }
      },
      "actions": {
        "Variable_PlattformFreigaben": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "varPlattformFreigaben",
              "type": "array",
              "value": "@triggerOutputs()?['body/field_18']"
            }]
          }
        },
        "Variable_SendungID": {
          "runAfter": { "Variable_PlattformFreigaben": ["Succeeded"] },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "varSendungID",
              "type": "integer",
              "value": "@triggerOutputs()?['body/ID']"
            }]
          }
        },
        "Get_verknüpfte_ContentElemente": {
          "runAfter": { "Variable_SendungID": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
              "table": "6e406f83-7400-4568-88d3-25469885a7da",
              "$filter": "Folge/Id eq @{variables('varSendungID')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Für_jedes_ContentElement": {
          "foreach": "@outputs('Get_verknüpfte_ContentElemente')?['body/value']",
          "runAfter": { "Get_verknüpfte_ContentElemente": ["Succeeded"] },
          "type": "Foreach",
          "actions": {
            "Prüfe_ob_Update_nötig": {
              "actions": {
                "Update_Plattform_Freigaben": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "parameters": {
                      "dataset": "https://wdr.sharepoint.com/teams/ARDStand-UpO365",
                      "table": "6e406f83-7400-4568-88d3-25469885a7da",
                      "id": "@items('Für_jedes_ContentElement')?['ID']",
                      "item/PlattformFreigaben": "@variables('varPlattformFreigaben')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "retryPolicy": { "type": "fixed", "count": 3, "interval": "PT10S" }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@items('Für_jedes_ContentElement')?['PlattformFreigaben']",
                    "@variables('varPlattformFreigaben')"
                  ]
                }
              },
              "type": "If"
            }
          },
          "runtimeConfiguration": { "concurrency": { "repetitions": 5 } }
        }
      }
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "apiName": "sharepointonline"
      }
    }
  }
}
