Flows/Sync Plattform-Freigaben (Content ← Sendung)-20260210.json
{"name":"26c2a3cb-c7d7-454c-92d1-319a06e3562d","id":"/providers/Microsoft.Flow/flows/26c2a3cb-c7d7-454c-92d1-319a06e3562d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sync Plattform-Freigaben (Content ← Sendung)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"14343ce3-2f08-40d5-829c-dcec71b41bb4","type":"User","tenantId":"453fd660-02d5-4abb-9653-e86f1dc115aa"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-02-10T15:45:53.5496593Z","connectionKeySavedTimeKey":"2026-02-10T15:45:53.5496593Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Wenn_ein_Element_erstellt_oder_geändert_wird":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"4b80cae0-bc23-46e7-8f0c-7ad261495d6f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"6e406f83-7400-4568-88d3-25469885a7da"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Bedingung_-_Hat_Folge_Verknüpfung":{"actions":{"Element_abrufen_-_Sendung":{"metadata":{"operationMetadataId":"40d7fa90-f59f-4d60-87e3-659052d1e4d3"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","table":"08c76ffb-e10b-4158-92b5-73a509a221cc","id":"@triggerOutputs()?['body/Folge/Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Bedingung_-_Sendung_hat_Plattform_Freigaben":{"actions":{"HTTP-Anforderung_an_SharePoint_senden":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://wdr.sharepoint.com/teams/ARDStand-UpO365","parameters/method":"PATCH","parameters/uri":"_api/web/lists(guid'6e406f83-7400-4568-88d3-25469885a7da')/items(@{triggerOutputs()?['body/ID']})\n","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-Method":"MERGE"},"parameters/body":"@json(concat('{\"__metadata\":{\"type\":\"SP.Data.ClipsListItem\"},\"PlattformFreigaben\":{\"results\":', string(body('Auswählen')), '}}'))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Auswählen":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@outputs('Element_abrufen_-_Sendung')?['body/field_18']","@null"]}},{"not":{"equals":["@outputs('Element_abrufen_-_Sendung')?['body/field_18']","@triggerOutputs()?['body/PlattformFreigaben']"]}}]},"metadata":{"operationMetadataId":"62b89334-d2bb-4fac-b711-413dd8c04fcc"},"type":"If"},"Auswählen":{"runAfter":{"Element_abrufen_-_Sendung":["Succeeded"]},"metadata":{"operationMetadataId":"c6f16627-b3d0-400f-8132-7175fe41709c"},"type":"Select","inputs":{"from":"@outputs('Element_abrufen_-_Sendung')?['body/field_18']","select":"@item()?['Value']"}}},"runAfter":{},"else":{"actions":{}},"expression":{"not":{"equals":["@triggerOutputs()?['body/Folge/Id']","@null"]}},"metadata":{"operationMetadataId":"96cd6be3-0fbc-4cd1-a576-2b4a9679ad3e"},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-bae87fdd-8989-4d83-8eec-c60f7f2e84a2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}